.todo-complete {
  text-decoration: line-through;
}

.round{
  display:block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.warn-text{
  border-radius: 10px;
}

textarea{
  resize: none;
}
