<div class="list-group">

  <div *ngFor="let task of tasks; trackBy: trackByTaskId" class="list-group-item list-group-item-primary d-flex
  justify-content-between align-items-center mb-2">
    <div>
        <div class="d-flex ustify-content-between ">
          <button
          class="btn btn-info btn-sm p-1 round"
          (click)="toggleItem(task)"
          >
            <i class="bi bi-toggles"></i>
          </button>
          <!-- span used for space -->
          <span class="m-1"></span>
          <h4 class="ml-2" [ngClass]="{'todo-complete':task.completed}">{{task.title}}</h4>
        </div>
        <span>
          {{task.description}}
        </span>
    </div>
    <!-- span used for space -->
    <span class="m-3"></span>
    <div class="d-grid gap-2 col-3">
      <button
      (click)="deleteTask(task)"
      class="btn btn-danger mb-2 btn-sm"
      >
        <i class="bi bi-trash"></i>
        Delete
      </button>
      <button
      type="button"
      class="btn btn-primary btn-sm"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
      (click)="openModal(task)"
      >
        <i class="bi bi-pencil"></i>
        Edit
      </button>
  </div>
  </div>


</div>




<!-- Modal -->
<div style="background-color: rgba(94, 83, 82, 0.274);" class="modal fade" [ngClass]="{'show':isModal}" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5
        style="color: #0d6efd;"
        class="modal-title"
        id="exampleModalLabel">Editing Task</h5>
        <button type="button" class="btn-close" (click)="closeModal()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form *ngIf="editingTask" class="row" (ngSubmit)="editTask()">

          <input
          type="text"
          [(ngModel)]="editingTask!.title"
          name="title"
          class="form-control mb-2"
          placeholder="Title"
          required
          >

          <textarea
          type="text"
          rows="5"
          [(ngModel)]="editingTask!.description"
          name="description"
          class="form-control mb-2"
          placeholder="description"
          ></textarea>

          <div class="modal-footer">
            <button type="button" (click)="closeModal()" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>

      </form>

      <div  *ngIf="isLenght" class="warn-text bg-warning mt-3 p-2 d-flex ">
        <i class="bi bi-exclamation-circle"></i>
        <span class="m-1"></span>
        <p  class="mb-0"><b>Title is required</b></p>
      </div>
      </div>
    </div>
  </div>
</div>

